<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Details</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body class="detail">
    {% csrf_token %}
    <div class="container employees">
      <h1>Employee Details</h1>
      <button>
        <a href="{% url 'delete-all-data-and-files' %}">DONE</a>
      </button>
      <table>
        <thead>
          <th>Name</th>
          <th>Designation</th>
          <th>Salary</th>
        </thead>
        <tbody>
          {% for employee in employees %}
          <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.designation }}</td>
            <td>${{ employee.salary }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
