<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF FILES LIST</title>
    <link rel="stylesheet" href="/static/css/styles.css" />     
  </head>
  <body>
    <h1>PDF FILES LIST</h1>
    <div class="container pdfs">
      <button>
        <a href="{% url 'upload-pdf' %}"> Add More Files</a>
      </button>
      <button>
        <a href="{% url 'extract-data' %}"> Get Details</a>
      </button>
      <table>
        <thead>
          <th colspan="2">Files</th>
        </thead>
        <tbody>
          {% for pdf in pdfs %}
          <tr>
            <td>
              <a href="{{ pdf.file.url }}" target="_blank">{{ pdf.file }}</a>
            </td>
            <td><button>
              <a href="{% url 'pdf-delete' pdf.pk %}">Delete</a></td>
            </button>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
