<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF UPLOAD</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body class="upload">
    <h1>PDF EXTRACTOR</h1>
    <h2>🤩WELCOMES YOU!😍</h2>
    <span class="container upload">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}

        <button type="submit">Upload PDF</button>
      </form> 

      <button>
        <a href="{% url 'pdf-list' %}"> View Added Files</a>
      </button>
    </span>
  </body>
</html>
